<div class="mb-3">
    <label
        for="{{ form.title.vars.id }}"
        class="form-label required"
    >
        {{ form.title.vars.label|trans }}
        {{ form.title.vars.errors }}
    </label>
    <input
        type="text"
        id="{{ form.title.vars.id }}"
        name="{{ form.title.vars.full_name }}"
        value="{{ form.title.vars.value }}"
        {{ form.title.vars.required ? 'required="required"' }}
        class="form-control"
    >
</div>