{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    This friendly message is coming from:
    {% if (text_blocks) %}
    <ul>
        {% for text_block in text_blocks %}
            <li>{{ text_block.title }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
