{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block browser_title %}
    {% trans %}Login{% endtrans %}
{% endblock %}

{% block content_title %}
    {% trans %}Login{% endtrans %}
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}

    <div class="container" style="padding-top: 160px ">
        <form method="post">
            <div class="form-group">
                <small id="emailHelp" class="form-text text-muted">Введите электронный адрес</small>
                <input type="text" name="_username" required="required" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
                <small id="emailHelp" class="form-text text-muted">Введите пароль</small>
                <input type="password" name="_password" required="required" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
{% endblock %}