<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Подтверждение регистрации!</title>
</head>
<body>
<div class="container">
    <p>Добро пожаловать, {{ user.fullname }}!</p>
    <p>Чтобы завершить регистрацию, подтвердите <a href="{{ path('app_register_confirm', {'code': user.confirmationCode }) }}">электронный адрес</a></p>
</div>
</body>
</html>