{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block browser_title %}
    {% trans %}Work experience{% endtrans %}
{% endblock %}

{% block content_title %}
    {% trans %}Work experience{% endtrans %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <!-- Custom title template example -->
    {{ form_row(form._token) }}
    {{ include('form/title.html.twig') }}
    {{ form_row(form.experienceStart) }}
    {{ form_row(form.experienceEnd) }}

    <button type="submit" class="btn btn-success">{% trans %}Submit{% endtrans %}</button>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}