{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block browser_title %}
    {% trans %}Work experience{% endtrans %}
{% endblock %}

{% block content_title %}
    {% trans %}Work experience{% endtrans %}
{% endblock %}

{% block body %}

    <div class="container col-sm-12">
        <h3>{% trans %}Work experience{% endtrans %} 1</h3>
        {%  for experience in experiences %}
            <div>
                <p>{{ experience.title }}</p><hr>
                <p>{{ experience.getExperienceStart() | date('Y-m-d') }}</p><hr>
                <p>{{ experience.getExperienceEnd() | date("Y-m-d")  }}</p><hr>
            </div>
        {% endfor %}
    </div>

    <div class="container col-sm-12">
        <h3>{% trans %}Work experience{% endtrans %} 2</h3>
        {%  for experience in user.experience %}
            <div>
                <p>{{ experience.title }}</p><hr>
                <p>{{ experience.getExperienceStart() | date('Y-m-d') }}</p><hr>
                <p>{{ experience.getExperienceEnd() | date("Y-m-d")  }}</p><hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}